<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>226921527475-jhnoa2u5a563rqmha9h6bnebi65v4v85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226921527475-jhnoa2u5a563rqmha9h6bnebi65v4v85</string>
	<key>API_KEY</key>
	<string>AIzaSyDcuU2ksqSHML5SlmDaAPXlCTBua6GAP2E</string>
	<key>GCM_SENDER_ID</key>
	<string>226921527475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taym</string>
	<key>PROJECT_ID</key>
	<string>taym-app</string>
	<key>STORAGE_BUCKET</key>
	<string>taym-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226921527475:ios:020260f993d105f58898c6</string>
</dict>
</plist>