<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092909459597-1ohvr37479sji5makr3g6geq7dlopc7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092909459597-1ohvr37479sji5makr3g6geq7dlopc7b</string>
	<key>API_KEY</key>
	<string>AIzaSyCqtDSySX69mLs7X6AzdbK3IvdCw89Q7do</string>
	<key>GCM_SENDER_ID</key>
	<string>1092909459597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taym.io</string>
	<key>PROJECT_ID</key>
	<string>taym-978cc</string>
	<key>STORAGE_BUCKET</key>
	<string>taym-978cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092909459597:ios:594c64ae4ac042d8f9dac4</string>
</dict>
</plist>